mdit-py-plugins
# https://github.com/executablebooks/MyST-Parser/pull/359
-e git+https://github.com/jpmckinney/myst-parser.git@heading_slug_func#egg=myst-parser
ocds-babel
Sphinx
-e git+https://github.com/open-contracting/standard_theme.git@open_contracting#egg=standard_theme

# Profile
ocdsextensionregistry

# Build
sphinx-intl
transifex-client

# Deploy
ocdsindex

# Tests
pytest
selenium

# Development
pip-tools
