# https://github.com/executablebooks/MyST-Parser/issues/331
-e git+https://github.com/jpmckinney/MyST-Parser.git@heading_slug_func#egg=myst-parser
linkify-it-py
ocds-babel
Sphinx
-e git+https://github.com/open-contracting/standard_theme.git@open_contracting#egg=standard_theme

# Profile
ocdsextensionregistry

# Translations
sphinx-intl
transifex-client

# Deploy
ocdsindex

# Tests
pytest
selenium

# Development
click
pip-tools
sphinx-autobuild
