-r common-requirements.txt

# Add your own requirements below.

sphinxcontrib-opendataservices-jsonschema==0.2.0
-e git+https://github.com/jpmckinney/sphinxcontrib-opendataservices.git@tests#egg=sphinxcontrib-opendataservices
