.wy-nav-content {
  max-width: none;
}
.rst-content table.docutils {
  width: 100%;
  table-layout: fixed;
}
.rst-content table.docutils td {
  vertical-align: top;
}
.rst-content code {
  font-size: 10px;
}

q {
  font-style: italic;
}

/* From Bootstrap */
.badge {
  display: inline-block;
  padding: .25em .6em;
  border-radius: 10rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

.badge-proposal {
  color: #fff;
  background-color: #007bff;
}
.badge-issue {
  color: #fff;
  background-color: #6c757d;
}
.badge-warning {
  color: #212529;
  background-color: #ffc107;
}

.badge a,
.badge a:visited {
  color: #fff;
}
